.container {
    display: flex;
    justify-content: center;
}


.square {
    background-color: grey;
    height: 59px;
    width: 59px;
    margin: 1px;
}

button {
    background-color: cyan;
    margin: 20px;
}

.button {
    text-align: center;
}